.wrapper {
  display: flex;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253141;
}

.header-name a {
  font-size: 16px;
  color:  #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
  color: deepskyblue;
  text-decoration: none;
}

.rooms {
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
  background-color: #2F3E51;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

.chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #FFFFFF;
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  margin-top: 36px;
  padding-left: 40px;
  font-size: 24px;
  color: #333;
}

.header-btn {
  margin-top: 40px;
}

.header-btn a {
  padding: 20px;
  border: 1px solid darkred;
  color: darkred;
  text-decoration: none;
}

.messages {
  height: calc(100vh - 100px - 90px);
  padding: 40px 46px 0;
  background-color: #FAFAFA;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message {
  display: flex;
}

.message-user {
  font-size: 16px;
  color: #434A54;
}

.message-date {
  padding-left: 10px;
  font-size: 12px;
  color: #999;
}

.lower-message {
  margin-top: 10px;
}

.message-content{
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.form {
  display: flex;
  height: 90px;
  padding: 20px 40px;
  background-color: #DDDDDD;
}

.form-input {
  display: flex;
  width: 100%;
  background-color: white;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: #38AEF0;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}